color-theme = #1193FA
.page-title-ctn
	z-index 1
	overflow hidden
	&.show-all
		overflow visible
		.page-title-wrap
			width auto
		.page-title-more
			top auto
			right 0
			bottom 0
			transform rotate(180deg)
.page-title-wrap
	position relative
	width calc(100% + 110px)
	background #F4F5F6
	min-height 100%
	&:after
		display block
		content ''
		zoom 1
		clear both
.page-title-more
	display none
	position absolute
	top 0
	right 110px
	width 40px
	height 40px
	background-image url('../img/down.png')
	background-repeat no-repeat
	background-position center
	background-color #F4F5F6
	cursor pointer
	z-index 1
	&:hover
		background-color #FFFFFF
		/* transition: 0.3s; */
.page-title
	float left
	height 40px
	line-height 40px
	padding-left 15px
	border-right 1px solid #F4F5F6
	background-color #EEEEEE
	color #666666
	cursor pointer
.page-title.focus
	/* background-color: #FFFFFF;
	color: #333333;
	border-color: #FFFFFF; */
	background-color color-theme
	color #FFFFFF
	border-color color-theme
span.page-title-content
	display inline-block
	width 100px
	margin-right 15px
	overflow hidden
	white-space nowrap
	text-overflow ellipsis
	vertical-align middle
img.page-title-icon
	display inline-block
	width 20px
	height 20px
	vertical-align middle
.page-title-close
	margin-right 15px
	vertical-align middle
	&.page-title-close-disabled
		visibility hidden
i.page-title-close
	font-size 20px
span.page-title-close
	font-size 14px
	&:after
		content 'x'
.page-title-close:hover
	color #FFA200
.page-iframe-wrapper
	position relative
	display none
	&.focus
		display block
iframe.page-iframe
	display block
	width 100%
	min-height calc(100vh - 120px)
	border 0
	box-sizing border-box
	&[sandbox]
		border 2px solid color-theme
.page-contextMenu-wrapper
	position fixed
	left 50%
	top 50%
	background-color #FAFAFA
	box-shadow 0 0 5px 0 #999999
	animation slideIn 0.3s linear
	overflow hidden
	z-index 1
.page-contextMenu-group
	padding-top 8px
	&:last-child
		padding-bottom 8px
	&.dev
		.page-contextMenu-title
			background-color color-theme
			color #FFFFFF
.page-contextMenu-title
	padding 0 20px 0 34px
	margin-bottom 8px
	height 30px
	line-height 30px
	font-size 12px
	font-weight 600
	background-color #F4F5F6
	color #666666
.page-contextMenu-cutline
	margin-top 8px
	border-top 1px solid #CCCCCC
.page-contextMenu-menu
	position relative
	min-width 120px
	height 30px
	line-height 30px
	cursor pointer
	box-sizing border-box
	&:hover
		background-color #E1E1E1
		transition 0.3s
		.page-contextMenu-menu-icon
			i
				color #424242
		.page-contextMenu-menu-name
			color #424242
.page-contextMenu-menu-icon
	position absolute
	top 0
	left 0
	width 14px
	height 14px
	margin 8px 10px
	img
		display block
		width 100%
		height 100%
		border none
	i
		display block
		width 100%
		height 100%
		line-height 20px
		font-size 12px
		text-align center
		color #666666
.page-contextMenu-menu-name
	padding 0 20px 0 34px
	color #666666
	font-size 14px
	white-space nowrap
.page-contextMenu-menu-viewMarker
	position absolute
	top 0
	left 0
	right 0
	bottom 0
@keyframes slideIn
	from
		max-height 0
	to
		max-height 600px