<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
    <style>
        .log-ctn {
            width: 300px;
            height: 500px;
            background-color: #EEEEEE;
            box-shadow: 0 0 5px 0 #999999 inset;
            overflow-y: auto;
        }
        
        .log-ctn .log {
            padding: 20px;
            border-bottom: 1px solid #CCCCCC;
        }
    </style>
    <script>
        window.init = function(page, globalPayload) {
            page.messageReceiver = function(message) {
                var el_log_ctn = document.querySelector('#messageLogCtn')
                var el_log = document.createElement('div')
                var time = new Date()
                el_log.className = 'log'
                el_log.innerText = '时间：' + getTime(time) + '\n' + '消息：' + message.data + '\n' + '来源：' + message.from
                if (el_log_ctn.childNodes.length) {
                    el_log_ctn.insertBefore(el_log, el_log_ctn.childNodes[0])
                } else {
                    el_log_ctn.appendChild(el_log)
                }

                function getTime(time) {
                    return time.getFullYear() + '-' + (time.getMonth() + 1) + '-' + time.getDate() + ' ' + time.getHours() + ':' + time.getMinutes() + ':' + time.getSeconds()
                }
            }

            window.openPage = function() {
                page.open({
                    url: 'module/module2.html'
                })
            }
        }
    </script>
</head>

<body>
    <h1>Page 前端标签页框架</h1>
    <h5>本Demo只展示了部分功能，具体功能请查看Api文档</h5>

    <h3>接收其他页面消息</h3>
    <div class="log-ctn" id="messageLogCtn"></div>
    <hr>
    <button type="button" onclick="openPage()">打开其他标签页</button>
</body>

</html>