@font-face
	font-family 'page-iconfont' /* project id 1645802 */
	src url('../fonts/iconfont.eot')
	src url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), url('../fonts/iconfont.woff2') format('woff2'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.ttf') format('truetype')
i.page-iconfont
	font-size 14px
	font-family 'page-iconfont' !important
	font-style normal
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	&.page-iconfont-lab:after
		content '\e654'
	&.page-iconfont-sandbox:after
		content '\e87e'
	&.page-iconfont-view:after
		content '\e602'
	&.page-iconfont-code:after
		content '\e6f2'
	&.page-iconfont-danger:after
		content '\e850'
	&.page-iconfont-logout:after
		content '\e69d'
	&.page-iconfont-url:after
		content '\e658'
	&.page-iconfont-link:after
		content '\e678'
	&.page-iconfont-attachment:after
		content '\e817'
	&.page-iconfont-close:after
		content '\e60f'
@keyframes rotate
	from
		transform rotate(0)
	to
		transform rotate(360deg)